.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-container {
    display: flex;
    border: 2px solid darkgray;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
    box-shadow: 5px 5px lightgrey;
    padding: 10px 10px 20px;
}

.all-content-container {
    display: flex;
    flex-direction: row;
}

.information-container {
    margin-left: 10px;
    width: 50%;
}

.main-image {
    width: 40vw;
    height: 50vh;
    float: top;
    object-fit: contain;
    margin: auto;
    padding: 2px;
}

.name {
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 3rem;
}

button {
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-button.left {
    margin-right: auto;
}

.nav-button.right {
    margin-left: auto;
}

.notice-banner {
    width: max-content;
    color: white;
    text-align: center;
    font-size: 4vw;
    width: 100%;
    margin-top: 0px;
} 

.lost {
    background-color: red;
}

.found {
    background-color: rgb(1, 170, 1);
}

.home-button {
    width: 4vw;
    margin: 0;
}

.thumbnail {
    width: 10vw;
    height: ;
    margin: 5px;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

