.form-container {
    align-items: center;
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    width: fit-content;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 5px;
}

label {
  font-weight: bold;
}

input,
textarea,
select {
  margin-left: 10px;
  margin-top: 4px;
  width: 150px;
}

.long {
  height: 100px;
  width: 350px;
}

.image {
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

button {
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  height: 40px;
  background-color: lightgray;
}

button:hover {
  background-color: white;
  color: black
}
