.link {
    text-decoration: none;
    color: inherit;
}

.card {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 200px;
    height: fit-content;
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px lightgrey;
    margin: 8px;
}

.thumbnail {
    min-width: 175px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

h3 {
    text-decoration: none;
}