.nav-button {
  cursor: pointer;
  padding: 10px; 
  width: 45px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  }

button {
  background-color: lightgray;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  font-size: 30px;
  }

 button:hover {
  background-color: white;
  color: black;
 } 
