.title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}

.title {
    background: darkgray;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    font-size: 50px;
    margin: 10px 3px 0px 3px;
    text-align: center;
    width: 50vw;
}

.selected {
    background-color: white;
}

.unselected {
    background-color: lightgray;
    border-bottom: 1px solid black;
    visibility: visible;
}

.browse-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}