.title {
    font-size: 50px;
    background: darkgray;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 2px 10px 2px;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    background: white;
    border: 2px solid darkgray;
    height: 100vh;
    padding-top: 20px;
}