.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 49.5vw;
    background: white;
    border: 2px solid darkgray;
    height: 100vh;
    padding-top: 30px;
    margin: 3px;
    visibility: visible;
}

.selected {
    width: 100vw;
    
    border: 2px solid red;
}

.unselected {
    visibility: hidden;
}