.title {
    font-size: 50px;
    background: darkgray;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    background: white;
    margin-top: 0px;
    border: 2px solid darkgray;
    height: 100vh;
}