.view-container {
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 5px 5px lightgrey;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px 75px;
    width: 90vw;
}

.notice-banner {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    font-size: 4vw;
    margin-top: 0px;
    text-align: center;
    width: 100%;
} 

.lost {
    background-color: red;
}

.found {
    background-color: rgb(1, 170, 1);
}

.all-content-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-image {
    float: top;
    margin: auto;
    object-fit: contain;
    padding: 2px;
    width: 40vw;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    cursor: pointer;
    float: top;
    margin: 5px;
    object-fit: contain;
    width: 10vw;
}

.information-container {
    margin-left: 10px;
    width: 50%;
}

.name {
    font-size: 5vw;
    margin: 0;
    text-align: center;
    width: 100%;
}

.breed-tag {
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

