.nav-bar {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.nav-title {
    font-size: 33px;
    margin-bottom: 0px;
}

.tagline {
    margin-top: 0px;
}

.logo {
    height: 100%;
}

.icon {
    width: 40px;
    margin-right: 20px;
    margin-top: 35px;
}

.tooltip {
    border: 2px solid red;
    width: 40px;
    height: 60px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: white;
    width: 200px;
    bottom: 100%;
    margin-left: -230px;
    border-radius: 7px;
    padding: 8px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    text-decoration: none;
}
